################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TimeKeeper/bin/Debug/net9.0-windows
/TimeKeeper/obj/Debug/net9.0-windows
/TimeKeeper/obj
